.results {
  width: 582px;
  height: 582px;
  border-radius: 4px;
  box-shadow: 0 1px 2px 0 rgba(132, 132, 132, 0.75);
  background-color: #ffffff;
  margin-left: 30px;
}

h2 {
  width: 71px;
  height: 22px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  padding-left: 30px;
}

.results hr {
  width: 522px;
  background-color: #c4c4c4;
  margin: 0px 30px;
}

.list-item hr {
  width: 522px;
  /* height: 1px; */
  background-color: #c4c4c4;
  margin: 0px;
}

.list-group {
  padding: 0px 30px;
}

.list-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

#details-btn {
  width: 134px;
  height: 34px;
  border-radius: 17px;
  background-color: #0ab463;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  align-self: center;
}
