.details-wrapper {
  width: 804px;
  height: 417px;
  border-radius: 4px;
  box-shadow: 0 1px 2px 0 rgba(132, 132, 132, 0.75);
  background-color: #ffffff;
  padding: 30px;
}

h3 #title {
  width: 112px;
  height: 22px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
}

.details,
.movies {
  display: flex;
  flex-wrap: wrap;
}

#back-btn {
  width: 132px;
  height: 18px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
}
