.details-wrapper {
  width: 804px;
  height: 417px;
  border-radius: 4px;
  box-shadow: 0 1px 2px 0 rgba(132, 132, 132, 0.75);
  background-color: #ffffff;
  padding: 30px;
  position: relative;
}

h3 #title {
  width: 112px;
  height: 22px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
}

.info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.info hr {
  width: 322px;
}

.info ul {
  list-style: none;
}

#back-btn {
  width: 187px;
  height: 34px;
  border-radius: 17px;
  background-color: #0ab463;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  margin-top: 150px;
  position: absolute;
  bottom: 38px;
}
